.git_backup/
node_modules/
# ----------------------------
# Python
# ----------------------------
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc
*.pyo

# ----------------------------
# Node
# ----------------------------
frontend/node_modules/
frontend/dist/

# ----------------------------
# Environment
# ----------------------------
.env
.env.*

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Git
# ----------------------------
*.log
.DS_Store
Thumbs.db
node_modules
